<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="" class="navbar-brand mx-auto">News</a>
    </nav>

    <div class="row">
      <div class="col-md-6 mt-4 text-center">
        <table class="table table-striped table-bordered">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>News</th>
          </tr>
          <% for (var i = 0; i < news.length; i ++) { %>
            <tr>
              <td><%= news[i].id_news %></td>
              <td><%= news[i].title %></td>
              <td><%= news[i].news %></td>
            </tr>
          <% } %>
        </table>
      </div>

      <div class="col-md-6 mt-4 card">
        <form class="card-body" action="/news" method="post">
          <h3 class="card-title">Add News</h3>
          <div class="form-group">
            <input name="title" type="text" class="form-control" placeholder="News Titlte">
          </div>
          <div class="form-group">
            <input name="news" type="text" class="form-control" placeholder="News Content">
          </div>
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </body>
</html>
